.book {
  position: relative;
  width: 600px;
  height: 900px;
  perspective: 2000px;
  background-image: url("/assets/background/papel0black.png");
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
} 

/* margin: 50px auto; */

.bookInner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f5dc;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}


.pageCounter {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #666;
  font-size: 14px;
}
