.paper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 0.8s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flipped {
  transform: rotateY(-180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.front {
  background-image: url("/assets/background/papel0.png");
}

.back {
  transform: rotateY(180deg);
  background-image: url("/assets/background/papel0.png");
}
