---
import Photo from "../components/Photo.astro";
import Icon from "../components/Icon.astro";
import facephoto from "../assets/photo.jpg";
import TechGrid from "../components/TechGrid.astro";
import PresentationCard from "../components/PresentationCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import CarouselItem from "../components/CarouselItem.astro";
import Carousel from "../components/Carousel.astro";
import SkillProgress from "../components/SkillProgress.astro";
import Layout from "../layouts/Layout.astro";
import { BASE_PATH } from "../../astro.config.mjs";

// Import images for TechGrid
import javaIcon from "../assets/icons/java-svgrepo-com.svg";
import jsIcon from "../assets/icons/js-svgrepo-com.svg";
import kotlinIcon from "../assets/icons/kotlin-svgrepo-com.svg";
import rustIcon from "../assets/icons/rust-svgrepo-com.svg";
import pythonIcon from "../assets/icons/python-svgrepo-com.svg";
import bootstrapIcon from "../assets/icons/bootstrap-4-logo-svgrepo-com.svg";
import astroIcon from "../assets/icons/astro-svgrepo-com.svg";
import gitIcon from "../assets/icons/git-svgrepo-com.svg";
import postmanIcon from "../assets/icons/postman-icon-svgrepo-com.svg";
import linuxIcon from "../assets/icons/linux-svgrepo-com.svg";
import sqlIcon from "../assets/icons/sql-database-generic-svgrepo-com.svg";

// Import images for Carousel
import chip8Image from "../assets/images/chip8image.png";
import pokeapiImage from "../assets/images/pokeapi.png";
import vonneumanImage from "../assets/images/vonneuman.png";
import guidebookImage from "../assets/images/guidebook.png";
import stanleyImage from "../assets/images/stanley.png";
import paperworkImage from "../assets/images/paperwork.png";
import parkourImage from "../assets/images/parkour.png";

import renderer3dImage from "../assets/images/renderer3d.png";
---

<Layout>
    <body
        class="bg-[#1b1b1b] bg-[url('/Portfolio/bg/olas10.svg')] bg-cover bg-no-repeat bg-center relative"
    >
        <div
            class="absolute inset-0 bg-[url('/Portfolio/bg/topography.svg')] bg-repeat bg-[length:1000px] opacity-25 pointer-events-none"
        >
        </div>

        <main
            id="section1"
            class="flex flex-col md:flex-row justify-between w-full min-h-screen relative z-20 p-4 md:p-8"
        >
            <Photo src={facephoto} />

            <div class="w-full relative z-20 p-8 bg-transparent rounded-lg">
                <div class="flex w-full justify-center">
                    <PresentationCard />
                </div>
                <section id="tech-stack" class="w-full">
                    <TechGrid
                        title="Languages"
                        skills={[
                            { icon: javaIcon, progress: 70, title: "Java" },
                            { icon: jsIcon, progress: 70, title: "Javascript" },
                            { icon: kotlinIcon, progress: 70, title: "Kotlin" },
                            { icon: rustIcon, progress: 55, title: "Rust" },
                            { icon: pythonIcon, progress: 50, title: "Python" },
                        ]}
                    />
                    <TechGrid
                        title="Frameworks & Libraries"
                        skills={[
                            {
                                icon: bootstrapIcon,
                                progress: 100,
                                title: "Bootstrap",
                            },
                            { icon: astroIcon, progress: 55, title: "Astro" },
                        ]}
                    />
                    <TechGrid
                        title="Tools"
                        skills={[
                            { icon: gitIcon, progress: 100, title: "Git" },
                            {
                                icon: postmanIcon,
                                progress: 100,
                                title: "Postman",
                            },
                        ]}
                    />
                    <TechGrid
                        title="Other"
                        skills={[
                            { icon: linuxIcon, progress: 65, title: "Linux" },
                            {
                                icon: sqlIcon,
                                progress: 100,
                                title: "SQL Database",
                            },
                        ]}
                    />
                </section>
            </div>
        </main>

        <!-- Section 2: Featured Projects -->
        <div id="section2" class="min-h-screen relative z-20 flex p-4 md:p-8">
            <div class="w-full rounded-lg p-8 bg-transparent relative z-20">
                <h2 class="text-white text-2xl font-bold mb-4">
                    Featured Projects
                </h2>
                <ProjectGrid
                    projects={[
                        {
                            title: "Rlox lang",
                            description:
                                "I developed a programming language...",
                            link: "https://github.com/Garkatron/Rust-Lox-Interpreter",
                        },
                        {
                            title: "3D Rasterizer in Rust",
                            description: "I developed a 3D rendering engine...",
                            link: "https://github.com/Garkatron/ScrapRenderer",
                            image: renderer3dImage,
                        },
                        {
                            title: "Rust-Coded LRU",
                            description:
                                "I implemented an LRU Cache in Rust...",
                            link: "https://github.com/Garkatron/LRU-Cache-Rust",
                        },
                    ]}
                />
            </div>
        </div>

        <!-- Section 3: Other Projects and Knowledge -->
        <div id="section3" class="min-h-screen relative z-20 flex p-4 md:p-8">
            <div class="w-full rounded-lg p-8 bg-transparent relative z-20">
                <section>
                    <h2 class="text-white text-2xl font-bold mb-4">
                        Other Projects
                    </h2>
                    <Carousel
                        items={[
                            {
                                title: "CHIP-8 Emulator",
                                href: "https://github.com/Garkatron/Von-Neumann-Simulator",
                                image: chip8Image,
                                description:
                                    "CHIP-8 Emulator implemented in Python",
                            },
                            {
                                title: "TerraX69",
                                href: "https://github.com/Garkatron/TerraX69-JS",
                                description: "JavaScript game built with Tauri",
                            },
                            {
                                title: "PC Pokémon Web",
                                href: "https://garkatron.github.io/PC-PokeApi/",
                                image: pokeapiImage,
                                description:
                                    "An interactive web app for exploring Pokémon data using the PokéAPI",
                            },
                            {
                                title: "Von Neumann Simulator",
                                href: "https://github.com/Garkatron/Von-Neumann-Simulator",
                                image: vonneumanImage,
                                description:
                                    "Von Neumann architecture simulator in Python",
                            },
                            {
                                title: "IWantToLearnX",
                                href: "https://github.com/Garkatron/IWantToLearnX",
                                description:
                                    "A personal 'Build Your Own X' project",
                            },
                            {
                                title: "FactBoard NEM",
                                href: "https://github.com/Garkatron/FactBoard_NEM",
                                description:
                                    "A Node.js and MongoDB-based app for managing and sharing publications",
                            },
                            {
                                title: "FactBoard",
                                href: "https://github.com/Garkatron/FactBoard",
                                description:
                                    "A PHP and MySQL-based app for managing and sharing publications",
                            },
                        ]}
                    />
                </section>

                <section class="mt-8">
                    <h2 class="text-white text-2xl font-bold mb-4">
                        Minecraft Mods
                    </h2>
                    <Carousel
                        items={[
                            {
                                title: "BTA PainScale",
                                href: "https://github.com/Garkatron/BTA-PainScale",
                                description:
                                    "A Minecraft mod with a dynamic difficulty system",
                            },
                            {
                                title: "BTA Guidebook",
                                href: "https://github.com/Garkatron/BTA-Guidebook.md",
                                image: guidebookImage,
                                description:
                                    "A Markdown-based guidebook library for BTA modders",
                            },
                            {
                                title: "StanleyTemperature",
                                href: "https://github.com/Garkatron/StanleyTemperature",
                                image: stanleyImage,
                                description:
                                    "A temperature mod and skill system library for RPG-style gameplay in Minecraft",
                            },
                            {
                                title: "BTA Paperwork",
                                href: "https://github.com/Garkatron/BTA-Paperwork",
                                image: paperworkImage,
                                description:
                                    "A Minecraft mod adding decorative blocks and items",
                            },
                            {
                                title: "BTA POVERH",
                                href: "https://github.com/Garkatron/BTA-POVERH",
                                image: parkourImage,
                                description:
                                    "A Minecraft mod introducing stamina and parkour mechanics",
                            },
                        ]}
                    />
                </section>
            </div>
        </div>

        <!-- Footer -->
        <footer
            class="w-full text-center py-4 bg-black/40 text-white relative z-20"
        >
            <p class="text-sm">© 2025 Mi Portafolio</p>
        </footer>
    </body>
</Layout>
