---
const {
    gradient = true,
    reverse = false,
    duration = "50s",
    items = 8,
} = Astro.props;
---

<div
    class="carousel"
    style={`--items: ${items}; --carousel-duration: ${duration};`}
    data-gradient={gradient ? "true" : "false"}
    data-reverse={reverse ? "true" : "false"}
>
    <slot />
</div>

<style>
    .carousel {
        --carousel-item-width: 480px;
        --carousel-item-height: 370px;
        --carousel-item-gap: 2rem;

        --clr-cta: rgb(0, 132, 209);

        position: relative;
        height: var(--carousel-item-height);
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .carousel[data-gradient="true"] {
        mask-image: linear-gradient(
            to right,
            transparent,
            black 10%,
            black 90%,
            transparent
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent,
            black 10%,
            black 90%,
            transparent
        );
    }
    .carousel > * {
        animation: marquee var(--carousel-duration) linear infinite;
        margin-right: var(--carousel-item-gap);
    }

    .carousel[data-reverse="true"] > * {
        animation-direction: reverse;
    }

    .carousel *:hover {
        animation-play-state: paused;
    }

    :global(@keyframes marquee) {
        100% {
            transform: translateX(
                calc(
                    var(--items) *
                        (var(--carousel-item-width) + var(--carousel-item-gap)) *
                        -1
                )
            );
        }
    }
</style>
