<div class="carousel" mask>
    <slot />
</div>

<style>
    .carousel {
        --items: 5;
        --carousel-duration: 50s;

        @media (width > 600px) {
            --carousel-duration: 30s;
        }

        --carousel-item-width: 380px;
        --carousel-item-height: 380px;
        --carousel-item-gap: 2rem;

        --clr-cta: rgb(0, 132, 209);

        /* Layout */
        position: relative;
        width: 100%;
        height: var(--carousel-item-height);
        overflow: clip;
    }

    .carousel[mask] {
        mask-image: linear-gradient(
            to right,
            transparent,
            black 10% 90%,
            transparent
        );
    }

    .carousel > * {
        animation: marquee var(--carousel-duration) linear infinite;
    }

    .carousel[reverse] > * {
        animation-direction: reverse;
    }

    .carousel *:hover {
        animation-play-state: paused;
    }

    :global(@keyframes marquee) {
        100% {
            transform: translateX(
                calc(
                    (
                            var(--items) *
                                (
                                    var(--carousel-item-width) +
                                        var(--carousel-item-gap)
                                )
                        ) * -1
                )
            );
        }
    }
</style>
