---
import { Image } from "astro:assets";

import photo from "../assets/images/noirphoto.png";
---

<a href="">
    <Image
        src={photo}
        alt="Comic style placeholder"
        width="600"
        height="400"
        class="image has-comic-border-simple"
    />
</a>
<style>
    img {
        max-height: 400px;
        object-fit: cover;
    }
</style>
