---
import { Image } from "astro:assets";
import noirmale from "../assets/noirmale.png";
---

<a href="">
    <Image
        src={noirmale}
        alt="ProfilePhoto"
        width={600}
        height={800}
        loading="eager"
        fetchpriority="high"
    />
</a>
<style>
    a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: pixelated;
    }
</style>
