---
const { index, totalCards } = Astro.props;
const zIndex = totalCards - index + 1;
---

<div id={`p${index}`} class="paper" style={`z-index: ${zIndex}`}>
    <div class="front">
        <div id={`f${index}`} class="front-content">
            <slot name="front" />
        </div>
    </div>
    <div class="back">
        <div id={`b${index}`} class="back-content">
            <slot name="back" />
        </div>
    </div>
</div>
<style>
    .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        perspective: 1500px;
    }

    .front,
    .back {
        background-image: url("/Portfolio/assets/background/papel0.png");
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: left;
        transition: transform 0.5s;
        padding: 5px;
    }

    .front {
        z-index: 1;
        backface-visibility: hidden;
        border-left: 3px solid #1c1c1c;
    }

    .back {
        z-index: 0;
    }

    .front-content,
    .back-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-content {
        transform: rotateY(180deg);
    }

    /* Paper flip effect */
    .flipped .front,
    .flipped .back {
        transform: rotateY(-180deg);
    }

    @media (max-width: 686px) {
        .paper {
            top: 0%;
        }
        .front,
        .back {
            transform-origin: center;
        }
        .flipped .front,
        .flipped .back {
            transform: translateY(450px) rotateY(-180deg);
        }
    }
</style>
