---
import Icon from "./Icon.astro";
import Photo from "./Photo.astro";
import facephoto from "../assets/photo.jpg";
import TechGrid from "./TechGrid.astro";
---

<section class="profile-section">
    <Photo src={facephoto} />
    <div class="presentation">
        <h1>
            Hi, I'm <span class="highlight">Matias</span>, <br />a <span
                class="highlight">web developer</span
            >
            <br />and <span class="highlight">Minecraft Modder</span>
        </h1>
        <div class="profile-links">
            <a
                href="./other/MatiasGuliasCarrascalCV.pdf"
                download="MatiasGuliasCarrascalCV.pdf"
            >
                <Icon
                    src="/icons/cv-file-interface-symbol-svgrepo-com.svg"
                    type="icon"
                    title="CV"
                />
                Download CV
            </a>
            <a
                href="https://github.com/Garkatron"
                target="_blank"
                rel="noopener noreferrer"
            >
                <Icon
                    src="/icons/github-svgrepo-com.svg"
                    type="icon"
                    title="GitHub"
                />
                GitHub
            </a>
            <a id="copyemail" href="#">
                <Icon
                    src="/icons/mail-plus-svgrepo-com.svg"
                    type="icon"
                    title="Mail"
                />
                masitacarg@gmail.com
            </a>
        </div>
    </div>
    <div class="description">
        <p>
            I'm proficient in <strong class="keyword">Java</strong>, currently
            learning <strong class="keyword">Rust</strong>
            and language
            <strong class="keyword">VM development</strong>. Passionate, quick
            learner, great at researching, and experienced in working with
            existing codebases, whether libraries or forks.
        </p>
        <h4>About use of AI</h4>
        <p>
            I use AI to support research and find learning resources. I also
            rely on it as a complement when I need to clarify an explanation
            that I haven’t fully understood on my own. In addition, I use it for
            small code refactorings and optimization queries (with careful
            judgment). Overall, it helps me save time on minor or repetitive
            tasks that would otherwise take a few extra minutes.
        </p>
        <h4>What don’t I use it for?</h4>
        <p>
            I avoid using AI for large-scale refactorings, complex
            optimizations, project structuring, or as my primary source of
            learning.
        </p>
    </div>
    <section id="tech-stack">
        <h2 style="text-align: center;">Tech Stack</h2>
        <TechGrid title="Languages">
            <Icon src="/icons/java-svgrepo-com.svg" type="dev" title="Java" />
            <Icon src="/icons/rust-svgrepo-com.svg" type="dev" title="Rust" />
            <Icon
                src="/icons/js-svgrepo-com.svg"
                type="dev"
                title="JavaScript"
            />
            <Icon
                src="/icons/python-svgrepo-com.svg"
                type="dev"
                title="Python"
            />
            <Icon
                src="/icons/kotlin-svgrepo-com.svg"
                type="dev"
                title="Kotlin"
            />
        </TechGrid>
        <TechGrid title="Frameworks & Libraries">
            <Icon
                src="/icons/bootstrap-4-logo-svgrepo-com.svg"
                type="dev"
                title="Bootstrap"
            />
        </TechGrid>

        <TechGrid title="Tools">
            <Icon src="/icons/git-svgrepo-com.svg" type="dev" title="Git" />
            <Icon
                src="/icons/postman-icon-svgrepo-com.svg"
                type="dev"
                title="Postman"
            />
        </TechGrid>

        <TechGrid title="Other">
            <Icon src="/icons/linux-svgrepo-com.svg" type="dev" title="Linux" />
            <Icon
                src="/icons/android-svgrepo-com.svg"
                type="dev"
                title="Android"
            />
            <Icon
                src="/icons/sql-database-generic-svgrepo-com.svg"
                type="dev"
                title="SQL Database"
            />
        </TechGrid>
    </section>
</section>
<script>
    function copyEmail() {
        const email = "masitacarg@gmail.com";
        navigator.clipboard
            .writeText(email)
            .then(() => {
                alert("Email copied to clipboard: " + email);
            })
            .catch((err) => {
                console.error("Failed to copy email: ", err);
                alert("Failed to copy email. Please try again.");
            });
    }
    document.getElementById("copyemail")?.addEventListener("click", copyEmail);
</script>
<style>
    .profile-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        max-width: 950px;
        margin: 10px;
        padding: 10px;
    }

    #tech-stack {
        width: 100%;
    }

    .presentation {
        flex: 1;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .presentation h1,
    .presentation h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .highlight {
        color: #b4937d;
    }

    .keyword {
        color: #b4937d;
    }

    .description {
        text-align: left;
        font-size: 1.1rem;
    }

    .profile-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
    }

    .profile-links a {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-weight: 600;
        text-decoration: none;
    }
</style>
