---
const {
    title = "ProjectName",
    description = "Some info here...",
    link = "#",
    image = "https://images.pexels.com/photos/635699/pexels-photo-635699.jpeg",
} = Astro.props;
---

<div class="card">
    <img src={image} alt="carousel element" />

    <strong>{title}</strong><br />
    {description}
    <a href={link} target="_blank" rel="noopener noreferrer">See more</a>
</div>

<style>
    .card {
        display: grid;
        grid-template-rows: auto 1fr auto;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: transform 0.2s ease;
    }

    .card:hover {
        box-shadow: 0px 0px 10px 10px rgb(19, 22.5, 30.5);
        z-index: 1000;
        transform: perspective(600px) translateZ(150px);
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(2.2px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    img {
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        text-transform: lowercase;
        border: 1px solid var(--clr-cta);
        color: light-dark(var(--clr-cta), white);
        border-radius: 3px;
        padding: 0.25rem 0.5rem;
        place-self: start;
        transition: 150ms ease-in-out;
    }

    a:hover,
    a:focus-visible {
        background-color: var(--clr-cta);
        color: white;
        outline: none;
    }
</style>
