<section id="t3-projects-section">
    <div class="card-grid">
        <slot />
    </div>
</section>

<style>
    #t3-projects-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10%;
        width: 42%;
    }
    .card-grid {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
</style>
