---
import Icon from "./Icon.astro";

const { src, progress = 0, title = "Title", loading = false } = Astro.props;
---

<div>
    <Icon src={src} type="dev" title={title} />
    {
        loading ? (
            <progress id="progress-bar" />
        ) : (
            <>
                <progress id="file" max="100" value={progress}>
                    {progress}%
                </progress>
            </>
        )
    }
</div>
