@import "tailwindcss";

@font-face {
    font-family: BasicComical;
    src: url("/assets/fonts/BasicComical-Regular-NC.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'BasicComical', sans-serif;
}


.doodle {
    background-color: #111111;
}

.has-comic-border-simple {
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.has-comic-border-simple:hover {
    transform: rotate(2deg) scale(1.02);

    box-shadow:
        5px 5px 0 #000,
        8px 8px 0 #555;
}


.has-comic-border {
    border: 4px solid #000;
    border-radius: 92% 6% 90% 8% / 8% 88% 10% 92%;
    padding: 1rem;

    transform: rotate(1.5deg);
    box-shadow:
        3px 3px 0 #000,
        6px 6px 0 #555;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.has-comic-border:hover {
    transform: rotate(0deg) scale(1.02);
    box-shadow:
        5px 5px 0 #000,
        8px 8px 0 hsl(0, 0%, 33%);
}


.has-comic-bg {
    color: whitesmoke;
    background-color: transparent;

    background-image: url("/assets/background/papel0black.png");
}

@font-face {
    font-family: 'BasicComical';
    src: url('/assets/fonts/BasicComical-Regular-NC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

