---
import Photo from "../components/Photo.astro";
import Icon from "../components/Icon.astro";
import facephoto from "../assets/photo.jpg";
import TechGrid from "../components/TechGrid.astro";
import PresentationCard from "../components/PresentationCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import CarouselItem from "../components/CarouselItem.astro";
import Carousel from "../components/Carousel.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
		/>
		<title>Matias</title>
	</head>
	<body>
		<img
			src="https://images.unsplash.com/photo-1581299327801-faeb40ea459e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9uZG9zJTIwYXp1bGVzfGVufDB8fDB8fHww"
			alt=""
			id="effect"
		/>

		<main>
			<div class="left-info">
				<PresentationCard />
			</div>
			<div class="right-info">
				<section>
					<h2>Projects</h2>
					<h5>Top 3</h5>
					<div class="project-section">
						<ProjectGrid>
							<ProjectCard
								title="3D Rasterizer in Rust"
								link="https://github.com/Garkatron/ScrapRenderer"
								description="A 2D rendering engine written in Rust, built to experiment with graphics and optimization."
								image="/images/renderer3d.png"
							/>
							<ProjectCard
								title="Rlox lang"
								description="A programming language based on jlox from Crafting Interpreters"
								link="https://github.com/Garkatron/Rust-Lox-Interpreter"
								image="https://db0dce98.delivery.rocketcdn.me/es/files/2024/08/Programacion_Procedural_DataScientest-1024x601.png"
							/>
							<ProjectCard
								title="Rust-Coded LRU"
								description="Rust LRU Cache"
								link="https://github.com/Garkatron/LRU-Cache-Rust"
								image="https://blog.orange.es/wp-content/uploads/sites/4/2023/04/memoria-cache-07.jpg"
							/>
						</ProjectGrid>
					</div>
				</section>
				<section>
					<h2>Knowelge</h2>
					<h5>Things I researched or learned and their links</h5>
					<Carousel reverse="true">
						<CarouselItem
							title="How work Async"
							href="https://www.youtube.com/watch?v=eiC58R16hb8"
							image="/images/jsloop.gif"
						>
							Null
						</CarouselItem>
						<CarouselItem
							title="Crafting Interpreters"
							href="https://craftinginterpreters.com/"
							image="/images/craftinginterpreters.png"
						>
							Null
						</CarouselItem>
						<CarouselItem
							title="Millon dolar error"
							href="https://medium.com/%40dilhan9g/the-billion-dollar-mistake-the-invention-of-null-1767465ee9e1"
							image="/images/nullptr.jpg"
						>
							Null
						</CarouselItem>
					</Carousel>
				</section>

				<section>
					<h5>More projects</h5>

					<Carousel>
						<CarouselItem
							title="CHIP-8 Emulator"
							href="https://github.com/Garkatron/Von-Neumann-Simulator"
							image="/images/chip8image.png"
						>
							CHIP-8 Emulator implemented in Python
						</CarouselItem>
						<CarouselItem
							title="TerraX69"
							href="https://github.com/Garkatron/TerraX69-JS"
						>
							JavaScript game built with Tauri
						</CarouselItem>
						<CarouselItem
							title="PC Pokémon Web"
							href="https://garkatron.github.io/PC-PokeApi/"
							,
							image="/images/pokeapi.png"
						>
							An interactive web app for exploring Pokémon data
							using the PokéAPI.
						</CarouselItem>
						<CarouselItem
							title="Von Neumann Simulator"
							href="https://github.com/Garkatron/Von-Neumann-Simulator"
							image="/images/vonneuman.png"
						>
							Von Neumann architecture simulator in Python
						</CarouselItem>
					</Carousel>
				</section>
			</div>
		</main>
	</body>
</html>

<style>
	html {
		height: 100%;
		overflow-y: auto;
	}

	body,
	main {
		margin: 0;
		padding: 0;
	}

	main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		min-height: 100vh;
	}
	#effect {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 25%;

		filter: contrast(150%) brightness(50%) blur(2px) sepia();
	}

	.left-info {
		width: 30%;
		flex-shrink: 0;
	}
	.right-info section h2 {
		color: #fff;
		margin-bottom: 0.5rem;
	}
	.right-info section h5 {
		color: #ccc;
		margin-bottom: 1rem;
	}
	.right-info {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		box-sizing: border-box;
		align-items: center;
		border-left: 2px solid white;
		background-color: rgba(1, 4, 8, 0.379);
	}

	.right-info > section {
		width: 99%;
	}

	a {
		display: inline-block;
		outline: 0;
		text-align: center;
		cursor: pointer;
		min-width: 80px;
		height: 32px;
		color: rgb(255, 255, 255);
	}

	.project-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 900px) {
		main {
			flex-direction: column;
		}
		.left-info {
			width: 100%;
		}
		.right-info {
			width: 100%;
			border-left: none;
		}
	}
</style>
