---
import Photo from "../components/Photo.astro";
import Icon from "../components/Icon.astro";
import facephoto from "../assets/photo.jpg";
import TechGrid from "../components/TechGrid.astro";
import PresentationCard from "../components/PresentationCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import CarouselItem from "../components/CarouselItem.astro";
import Carousel from "../components/Carousel.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
		/>
		<title>Matias</title>
	</head>
	<body>
		<img
			src="https://images.unsplash.com/photo-1581299327801-faeb40ea459e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9uZG9zJTIwYXp1bGVzfGVufDB8fDB8fHww"
			alt=""
			id="effect"
		/>
		<main id="ex1-layer" class="container">
			<div class="paper-effect">
				<PresentationCard />
				<section>
					<h2 style="text-align: center;">Tech Stack</h2>
					<div class="tech-categories">
						<TechGrid title="Languages">
							<Icon
								src="/icons/java-svgrepo-com.svg"
								type="dev"
								title="Java"
							/>
							<Icon
								src="/icons/rust-svgrepo-com.svg"
								type="dev"
								title="Rust"
							/>
							<Icon
								src="/icons/js-svgrepo-com.svg"
								type="dev"
								title="JavaScript"
							/>
							<Icon
								src="/icons/python-svgrepo-com.svg"
								type="dev"
								title="Python"
							/>
							<Icon
								src="/icons/kotlin-svgrepo-com.svg"
								type="dev"
								title="Kotlin"
							/>
						</TechGrid>
						<TechGrid title="Frameworks & Libraries">
							<Icon
								src="/icons/bootstrap-4-logo-svgrepo-com.svg"
								type="dev"
								title="Bootstrap"
							/>
						</TechGrid>

						<TechGrid title="Tools">
							<Icon
								src="/icons/git-svgrepo-com.svg"
								type="dev"
								title="Git"
							/>
							<Icon
								src="/icons/postman-icon-svgrepo-com.svg"
								type="dev"
								title="Postman"
							/>
						</TechGrid>

						<TechGrid title="Other">
							<Icon
								src="/icons/linux-svgrepo-com.svg"
								type="dev"
								title="Linux"
							/>
							<Icon
								src="/icons/android-svgrepo-com.svg"
								type="dev"
								title="Android"
							/>
							<Icon
								src="/icons/sql-database-generic-svgrepo-com.svg"
								type="dev"
								title="SQL Database"
							/>
						</TechGrid>
					</div>
				</section>

				<hr />

				<section class="project-section">
					<ProjectGrid>
						<ProjectCard
							title="Rlox lang"
							description="A programming language based on jlox from Crafting Interpreters"
							link="https://github.com/Garkatron/Rust-Lox-Interpreter"
						/>
						<ProjectCard
							title="Rust-Coded LRU"
							description="Rust LRU Cache"
							link="https://github.com/Garkatron/LRU-Cache-Rust"
						/>
					</ProjectGrid>

					<Carousel>
						<CarouselItem
							title="CHIP-8 Emulator"
							href="https://github.com/Garkatron/Von-Neumann-Simulator"
							image="/images/chip8image.png"
						>
							CHIP-8 Emulator implemented in Python
						</CarouselItem>
						<CarouselItem
							title="TerraX69"
							href="https://github.com/Garkatron/TerraX69-JS"
						>
							JavaScript game built with Tauri
						</CarouselItem>
						<CarouselItem
							title="PC Pokémon Web"
							href="https://garkatron.github.io/PC-PokeApi/"
							,
							image="/images/pokeapi.png"
						>
							Web application using PokeAPI
						</CarouselItem>
						<CarouselItem
							title="Von Neumann Simulator"
							href="https://github.com/Garkatron/Von-Neumann-Simulator"
							image="/images/vonneuman.png"
						>
							Von Neumann architecture simulator in Python
						</CarouselItem>
					</Carousel>
				</section>
			</div>
		</main>
	</body>
</html>

<style>
	html {
		height: 100%;
		overflow-y: auto;
	}

	#effect {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 25%;

		filter: contrast(150%) brightness(50%) blur(1px) sepia();
	}

	body {
		min-height: 100%;
		margin: 0;
		padding: 0;
		background: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.paper-effect {
		all: unset;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		background: transparent;
	}

	a {
		display: inline-block;
		outline: 0;
		text-align: center;
		cursor: pointer;
		min-width: 80px;
		height: 32px;
		color: rgb(255, 255, 255);
	}

	.tech-categories {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2.5rem;
		margin-bottom: 0.5rem;
	}

	.project-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 600px) {
		.profile-section {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		.description {
			flex: unset;
		}

		.tech-categories {
			flex-direction: column;
		}
	}
</style>
